header {
  display: flex;
  flex-direction: column;
}

.sony-bar {
  background-color: black;
  height: 2.25rem;
  display: flex;
  justify-content: flex-end;

  a {
    text-decoration: none;
    padding: 0 0.5rem;
  }

  .sony-logo {
    background-image: url('sony.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 75px;
    display: inline-block;
    height: 100%;
  }
}

.menu-bar {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;

  ul {
    display: flex;
    list-style: none;
  }
}